<!doctype html>
<head>
    <title>Abundant Lives Property Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/abundant_lives_property_care.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
</head>
<html>
   <body>
    <div class="px-2 py-2 my-2 text-center">
      <header>
        <div class="row">
          <div class="col-1">
            <img src="{{ url_for('static', filename='images/RevAi-LineGraphInCloud.svg') }}" 
              alt="Abundant Lives Logo"/
              class="img-logo-header">        
          </div>
          <div class="col">
            Let's model this layout after W3 Schools
          </div>
        <div class="col">            
          <form method="get" action="{{url_for('login')}}">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Sign In</button>
          </form>
        </div>
      </header>
      <main>
        <h1 class="display-6 fw-bold text-primary">Welcome to Abundant Lives Property Care</h1> 
        <div class="row">
          <div class="col-3">
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
              <div class="row">
                <div class="col"><form method="post" action="{{url_for('BusinessPlanForm')}}">          
                  <!-- Submit -->           
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Business Plan</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row container-img_and_text">
              <img src="{{ url_for('static', filename='images/FalconAndRabbit.png') }}"
                alt="Falcon And Rabbit"
                class="contained-img">
              <div class="contained-in-img-font-20"> 
                <md>
# Abundant Lives Property Care
## Business Plan

### Executive Summary

#### Business Name and Location
**Business Name**: Abundant Lives Property Care
**Location**: Derry, New Hampshire, United States

#### Mission Statement
"Our mission is to enable property owners to care for their property in a way that fosters the kind of plants and free-ranging creatures that they would love to have visiting and inhabiting their property."

#### Products/Services
We provide a web-based application that accurately provides management practices for property owners who want to foster the kind of plants and free-ranging creatures that they would love to have visiting and inhabiting their property.  The practices are designed to be practical and cost-effective.  
The preferred interactions are question and answer chatting.
The technology uses information from Light Detection and Ranging (LIDAR) data to model the property, including the 3-D Surface Topography and an inventory and mapping of plants by their kind.  
The technology provides information about the most probable nearby free-ranging creatures.

##### Example Questions that our application would answer

How can I change my property to foster Broad-winged Hawks?  
What plants can I grow that favor white-tailed deer?  
What is a plant that provides ground cover and prevents erosion?  
Where on my property should I plant a Flowering Dogwood tree?  
What colorful flowers grow best on the front side of my shed?  

#### Market
Our target market includes property owners.

#### Financial Highlights
We project a revenue of $50,000 in the first year, with a net profit margin of 5%.
We project a growth of 25% per year in revenue, while maintaining a net profit margin of 5%.

#### Funding Requirements
We are seeking $200,000 in funding to hire skilled and experienced employees, with 2 key positions that are full-time employees and 2 postitions that are on an hourly, contractual basis.
                </md>           
              </div>
            </div>
          </div>
        </div>   
       </main> 
       <footer>
        <div class="row border-primary-subtle" >
          <div class="col">
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
              Footer
            </div>
        </div>
       </footer>
    </div>     
   </body>
</html>