<!doctype html>
<head>
    <title>Abundant Lives Property Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/abundant_lives_property_care.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
    <div class="px-2 py-2 my-2 text-center">
      <header>
        <div class="row">
          <div class="col-1">
            <img src="{{ url_for('static', filename='images/RevAi-LineGraphInCloud.svg') }}" 
              alt="Abundant Lives Logo"/
              class="img-logo-header">        
          </div>
          <div class="col">
            Let's model this layout after W3 Schools
          </div>
        <div class="col">            
          <form method="get" action="{{url_for('login')}}">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Sign In</button>
          </form>
        </div>
      </header>
      <main>
        <h1 class="display-6 fw-bold text-primary">Welcome to Abundant Lives Property Care</h1> 
        <div class="row">
          <div class="col-3">
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
              <div class="row">
                <div class="col"><form method="post" action="{{url_for('BusinessPlanForm')}}">          
                  <!-- Submit -->           
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Business Plan</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row container-img_and_text">
              <img src="{{ url_for('static', filename='images/FalconAndRabbit.png') }}"
                alt="Falcon And Rabbit"
                class="contained-img">
              <div class="contained-in-img-font-20"> 
                <h2 class="text-dark">Business Plan Placeholder</h2>            
              </div>
            </div>
          </div>
        </div>   
       </main> 
       <footer>
        <div class="row border-primary-subtle" >
          <div class="col">
            <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
              Footer
            </div>
        </div>
       </footer>
    </div>     
   </body>
</html>