.img-logo-header{ 
    height:50px;
}

.bkgrnd-image-falcon_and_rabbit{
    background-image: url('/static/images/FalconAndRabbit.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height:700px;
}