.img-logo-header{ 
    height:50px;
}

.container-img_and_text {
    position: relative;
}

.contained-in-img-font-20 {
    position: absolute;
    font-size: 20px;
}

.contained-img { 
    width: 100%;
    height: auto;
    opacity: 0.5;
}